<div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>

      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">CONTACT INFO: (971) 217-3828</div>
        </div>

        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input type="text" name="name" id="name" placeholder="NAME" value="Jane Doe" class="app-form-control">
            </div>
            <div class="app-form-group">
              <input type="email" name="email" id="email" placeholder="EMAIL" class="app-form-control">
            </div>
            <div class="app-form-group">
              <input type="text" name="phone" id="phone" placeholder="CONTACT NO." class="app-form-control">
            </div>
            <div class="app-form-group">
              <input type="text" name="message" id="message" placeholder="MESSAGE" class="app-form-control">
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button" (click)="onCancel()">CANCEL</button>
              <button [disabled]="isUnchanged">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
