<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- AUTHOR: C. Thomas Wyrth -->
<!-- STUDENT ID: 011478422 -->
<!-- PROJECT: my-app -->
<!-- PURPOSE: Learning Angular development. -->
<!-- START: 8/5/2024 -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav id="navMenu">
  <ul>
    <li><a href="/home" class="menuItem">Home</a></li>
    <li><a href="/services" class="menuItem">Services</a></li>
    <li><a href="/projects" class="menuItem">Projects</a></li>
    <li><a href="/contact" class="menuItem">Contact</a></li>
  </ul>
</nav>

<router-outlet />
