<div class="resume">
  <div class="personalInfo">
    <h1>C. Thomas Wyrth</h1>
    <address>417 N Morton St.<br>Newberg, OR (971) 217-3828<br>mmxvi.ctw&#64;gmail.com</address>
  </div>

  <div class="summary">
    <h2>Summary</h2>
    <p>Dedicated and detail-oriented Software Engineer with 2 years of experience developing and coding solutions for website and software packages that meet or exceed accepted best practices, accessibility standards, and client goals.</p>
  </div>

  <div class="education">
    <h2>Education</h2>
    <p>WESTERN GOVERNORS UNIVERSITY <span class="educationDates">04/2024 - present</span><br>Bachelor of Science in Software Engineering</p>
    <p>CODING DOJO <span class="educationDates">01/2021 - 04/2021</span><br>Certificate in Full Stack Software Development</p>
    <p>CALIFORNIA WESTERN SCHOOL OF LAW <span class="educationDates">08/1995 - 05/1997</span><br>Juris Doctorate, Entertainment Law and Intellectual Property</p>
    <p>GEORGETOWN UNIVERSITY <span class="educationDates">08/1991 - 05/1994</span><br>Bachelor of Science in Business Administration</p>
  </div>

  <div class="experience">
    <h2>Experience</h2>
    <p>INSTACART, Shopper <span class="employmentDates">08/2023 - Present</span></p>
    <ul>
      <li>Reached Diamond Cart status in less than three months</li>
      <li>Maintained 5-Star rating with more than 1,200 orders shopped</li>
    </ul><br>

    <p>BLACK LINES DESIGNS, Creative Director/Owner <span class="employmentDates">04/2016 - 07/2021</span></p>
    <ul>
      <li>Created development and marketing plans for online brand and creator identities</li>
      <li>Led multiple clients through rebrand efforts, creating new logos, platform banners, and multimedia promotional materials</li>
    </ul><br>

    <p>YAHOO, INC., Customer Service Representative <span class="employmentDates">08/2008 - 12/2009</span></p>
    <ul>
      <li>Helped Yahoo Store customer's create their online presence within Yahoo Marketplace</li>
      <li>Troubleshot site presentation issues, sales processing, and product database concerns</li>
    </ul><br>

    <p>APPLE, INC., Sales Associate/Genius <span class="employmentDates">09/2001 - 05/2003</span></p>
    <ul>
      <li>Developed large commercial and institutional sales while in the West Hartford store, before business sales were a part of the stores' platform </li>
      <li>Assisted in the physical opening of the West Hartford and Roosevelt Field stores</li>
      <li>Oversaw Genius scheduling and repair completion at the Roosevelt Field store</li>
    </ul>
  </div>
</div>
